/* ----------- General ---------- */
*, *:before, *:after {
	box-sizing: border-box;
}

::-moz-selection {
	text-shadow: none;
	background: $orange;
  color: $white;
}

::selection {
	text-shadow: none;
  background: $orange;
  color: $white;
}

html {
	font-size: 62.5%;
	line-height: 1.9;
  font-family: 'Roboto', sans-serif;
	font-weight: 400;
	height: 100%;
	background: $green;
  color: $dark-gray;
  @include breakpoint('extra-large') {
    font-size: 54.5%;
  }
	@include breakpoint('large') {
		font-size: 50%;
	}
  @include breakpoint('medium') {
    font-size: 46.5%;
  }
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	background: $white;
  font-size: 1.8rem;
}

a {
  color: $green;

  &:hover, &:focus {
    text-decoration: none;
  }
}

.constrain {
  max-width: 1440px;
  margin: 0 auto;
  padding: 3rem;
}

.condensed {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}

/* ----------- Header ---------- */
.header {
	background: $green;

	&-logo {
		max-width: 19rem;

		a {
			display: block;
		}
	}
}

/* ----------- Main Banner ---------- */
.banner {
  color: $white;
  background: $green;
  margin-bottom: 25rem;

  &-bg {
    background: url('../img/desk-workers.svg') no-repeat left 2rem, url('../img/bubbles.svg') no-repeat right 15rem;
    margin: 0 auto -35rem;
		min-height: 65rem;
    max-width: 1640px;
    @include breakpoint('extra-large') {
  	   background-position: left -8rem top 2rem, right -8rem top 12rem;
       margin-bottom: -30rem;
    }
	}

  &-content {
		display: flex;
		justify-content: flex-end;
	}

	&-text {
    max-width: 50rem;
		position: relative;
		bottom: 5rem;

    h1 {
      font-size: 6rem;
      line-height: 1.1;
      font-weight: 400;
      margin: 0;
    }

    p {
      margin-top: 2rem;
      max-width: 46rem;
    }

		a {
			color: $white;
		}
  }

  &-cta {
    max-width: 46rem;
    margin-top: 3rem;
    display: flex;
    justify-content: flex-end;
  }
}

/* ----------- Buttons ---------- */
.button {
  text-transform: uppercase;
  font-weight: 900;
  text-decoration: none;
  padding: 2.2rem 4.4rem;
  background: $orange;
  border-radius: 5rem;
  border: 3px solid $white;
  display: inline-block;
  letter-spacing: 1px;
	color: $white;
	line-height: 1.4;
	text-align: center;

  &:hover, &:focus {
    background: tint($orange, 10%);
  }
}

/* ----------- Images ---------- */
img {
  width: 100%;
}

.image-plus-caption {
  flex-basis: 36rem;
  margin: 0;

  &-small {
    flex-basis: 30rem;
  }

  &-shift {
    margin-left: auto;
    margin-right: 1rem;
  }

  figcaption {
    margin-top: 1rem;
    padding: 0 0.5rem;
    color: $medium-gray;
    font-size: 1.5rem;
    line-height: 1.6;
  }
}

/* ----------- Text ---------- */
.paragraph-content {
  max-width: 40rem;

  sup {
    color: $light-gray;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
  }

  h2 {
    color: $blue;
    font-size: 4rem;
    margin-top: -0.5rem;
    font-weight: 300;
    max-width: 30rem;
    line-height: 1.1;
    margin-bottom: 2.5rem;
  }

  img {
    max-width: 26rem;
    margin-top: 2rem;
  }
}

/* ----------- Sections ---------- */
.section {
  margin: 10rem auto 2.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;

  .avatar {
    position: relative;
    padding: 20rem;
    margin: -20rem;
  }
}

.culture {
  .desk-gal {
    right: 5rem;
    top: 5rem;
    background: url('../img/desk-gal-avocado-1.svg') no-repeat right 5rem top 10rem, url('../img/desk-gal-avocado-2.svg') no-repeat right 0 bottom 25rem;
  }
}

.team {
  .desk-guy {
    bottom: 5rem;
    left: 5rem;
    background: url('../img/desk-guy-avocado-1.svg') no-repeat left 2rem top 13rem, url('../img/desk-guy-avocado-2.svg') no-repeat right 15rem bottom 12rem;
  }
}

.benefits {
  &-list {
    flex-grow: 2;
    background: url('../img/benefits.svg') no-repeat left top;
    position: relative;

    &-bubble {
      position: absolute;
      padding: 10rem;
      margin: -10rem;
      background-repeat: no-repeat;
      background-position: center center;

			h3 {
	      font-size: 2.4rem;
	      letter-spacing: 1px;
	      color: $white;
	      text-transform: uppercase;
	      line-height: 1.2;
	      font-weight: 700;
	      max-width: 18rem;
	      text-align: center;
	      position: relative;
	      top: 0.5rem;
	    }

      &.revenue {
        background-image: url('../img/bubble-blue.svg');
        left: 16rem;
        top: 13rem;
      }

      &.insurance {
        background-image: url('../img/bubble-purple.svg');
        left: 16rem;
        top: 30rem;
      }

      &.meetings {
        background-image: url('../img/bubble-gray.svg');
        right: 38rem;
        bottom: 10rem;
      }

      &.location {
        background-image: url('../img/bubble-green.svg');
        right: 30rem;
        bottom: 27rem;
      }
    }
  }
}

.values {
	margin-bottom: 12rem;

	&-list {
		color: $white;
		background: $blue;
		flex-grow: 2;
		margin-left: 5rem;
		padding: 5rem 5rem 3.5rem;

		h3 {
			font-weight: 700;
			text-transform: uppercase;
			font-size: 5.6rem;
			margin: 0 0 3rem;
			line-height: 1.1;
		}

		ul {
			column-count: 2;
			column-gap: 2rem;
			padding: 0;
			margin: 0;
			list-style: none;
			font-size: 2.4rem;

			li {
				margin-bottom: 2rem;
			}
		}

		&-number {
			color: $blue;
			background: $white;
			border-radius: 50%;
			font-weight: 900;
			display: inline-block;
			width: 4rem;
			height: 4rem;
			text-align: center;
			margin-right: 1.5rem;
			line-height: 1.6;
		}
	}
}

/* ----------- Footer ---------- */
.footer {
	background: $green;
	color: $white;
	margin-top: auto;

	&-bg {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include breakpoint('medium') {
	    flex-direction: column;
			text-align: center;
	  }

		.mark {
			@include breakpoint('medium') {
		    margin-bottom: 2rem;
		  }
		}

		h3 {
			font-size: 3.6rem;
			line-height: 1.1;
			margin: 0;
			display: inline;
			margin-right: 4rem;
			position: relative;
			top: 0.5rem;
			@include breakpoint('medium') {
		    display: block;
				margin-bottom: 3rem;
				margin-right: 0;
		  }
		}
	}
}

/* ----------- 404 ---------- */
.not-found {
	display: flex;
	align-items: center;
	min-height: 65rem;
	max-width: 65rem;
	text-align: center;

	h1 {
		font-size: 4rem;
		line-height: 1.2;
		margin-bottom: 0;

		a {
			color: $dark-gray;
		}
	}
}
