/* general */
*, *:before, *:after {
	box-sizing: border-box;
}

::-moz-selection {
	text-shadow: none;
	background: $orange;
  color: $white;
}

::selection {
	text-shadow: none;
  background: $orange;
  color: $white;
}

html {
	font-size: 62.5%;
	line-height: 1.9;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 400;
	height: 100%;
	background: $green;
  @include breakpoint('large') {
    font-size: 56.5%;
  }
  @include breakpoint('medium') {
    font-size: 50.5%;
  }
  @include breakpoint('small') {
    font-size: 44.5%;
  }
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	background: $white;
  font-size: 1.8rem;
}

.constrain {
  max-width: 1440px;
  margin: 0 auto;
  padding: 3rem;

  &-overflow {
    max-width: 1600px;
    padding: 0;
  }
}

.condensed {
  font-family: 'Roboto Condensed', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
}

/* header */
.header {
  color: $white;
  background: $green;
  margin-bottom: 25rem;

  a {
    color: $white;

    &:hover, &:focus {
      text-decoration: none;
    }
  }

  &-bg {
    background: url('/img/paper.svg') no-repeat left 12rem, url('/img/bubbles.svg') no-repeat right 22rem;
    background-size: auto, 1050px;
    min-height: 65rem;
    margin-bottom: -25rem;
    @include breakpoint('large') {
  	   background-position: -4rem 12rem, right -4rem top 22rem;
       margin-bottom: -20rem;
    }
  }

  &-content {
    display: flex;
    justify-content: space-between;
  }

  &-text {
    max-width: 50rem;

    h1 {
      font-size: 6rem;
      line-height: 1.1;
      font-weight: 400;
      margin-bottom: 0;
    }

    p {
      margin-top: 2rem;
      max-width: 45rem;
    }
  }

  &-cta {
    max-width: 45rem;
    margin-top: 3rem;
    display: flex;
    justify-content: flex-end;
  }
}

/* buttons */
.button {
  text-transform: uppercase;
  font-weight: 900;
  text-decoration: none;
  padding: 1.5rem 5rem;
  background: $orange;
  border-radius: 5rem;
  border: 3px solid $white;
  display: inline-block;
  letter-spacing: 1px;
  transition: all .2s ease;

  &:hover, &:focus {
    background: tint($orange, 10%);
  }
}

/* images */
img {
  width: 100%;
}

.image-plus-caption {
  max-width: 28rem;
  margin-left: 0;

  figcaption {
    margin-top: 1rem;
    padding: 0 0.5rem;
    color: $light-gray;
    font-size: 1.5rem;
    line-height: 1.6;
  }
}

/* text */
.paragraph-content {
  max-width: 40rem;

  sup {
    color: $gray;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
  }

  h2 {
    color: $blue;
    font-size: 4rem;
    margin-top: 0;
    font-weight: 300;
    max-width: 30rem;
    line-height: 1.1;
    margin-bottom: 2.5rem;
  }

  p {
    color: $dark-gray;
  }
}


/* sections general */
.section {
  margin: 10rem auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
}


/* sections specific */
