/* colors */

$dark-gray: #3d515c;
$medium-gray: #7a8a8f;
$light-gray: #b6c1c2;
$white: #fff;
$green: #00b586;
$orange: #ef6c00;
$blue: #468dcb;

/* mixins */

// set page breakpoints
@mixin breakpoint($point, $value: "") {
  @if $point == 'large' {
    @media only screen and (max-width: 90em) { @content; }
  }
  @else if $point == 'medium' {
    @media only screen and (max-width: 64em) { @content; }
  }
  @else if $point == 'small' {
    @media only screen and (max-width: 37.5em) { @content; }
  }
  @else if $point == 'extra-small' {
    @media only screen and (max-width: 25em) { @content; }
  }
}

/* functions */

// Add percentage of white to a color (tints)
@function tint($color, $percent){
  @return mix(white, $color, $percent);
}

// Add percentage of black to a color (shades)
@function shade($color, $percent){
  @return mix(black, $color, $percent);
}
