<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="canonical" href="https://jobs.kuali.co{{ page.url | replace:'index.html',''}}">
  <link rel="manifest" href="{{ "site.webmanifest" | relative_url }}">
  <link rel="icon" href="{{ "favicon.ico" | relative_url }}">
  <link rel="apple-touch-icon" href="{{ "icon.png" | relative_url }}">
  <link rel="stylesheet" href="{{ "css/styles.css" | relative_url }}">
</head>

<body>

  <header class="header">
    <div class="header-bg constrain">
      <div class="header-logo">
        <a class="logo-link" href="{{ "/" | relative_url }}">
          <img alt="Kuali Jobs" src="{{ "img/logo.svg" | relative_url }}" />
        </a>
      </div>
    </div>
  </header>

  {{ content }}

  <footer class="footer">
    <div class="footer-bg constrain">
      <div class="mark">
        <a class="logo-link" href="{{ "/" | relative_url }}">
          <img alt="Kuali" src="{{ "img/mark.svg" | relative_url }}" />
        </a>
      </div>
      <div class="footer-cta">
        <h3 class="condensed">Seriously, what are you waiting for?</h3>
        <a href="https://kuali.workable.com/#jobs" class="button">See our openings</a>
      </div>
    </div>
  </footer>

  <script src="{{ "js/rellax.min.js" | relative_url }}"></script>
  <script src="{{ "js/main.js" | relative_url }}"></script>
</body>
</html>
